.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode h2 {
    color: #fff; 
}

.dark-mode input {
    background-color: #222;
    color: #fff;
}

.dark-mode textarea {
    background-color: #222;
    color: #fff;
}

.dark-mode select {
    background-color: #222;
    color: #fff;
}

.dark-mode nav {
    background-color: #747171;
    color: #fff;
}

nav {
    background-color: #f2f2f2;
    color: #000;
}

.card {
    color: #000;
}