.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode h2 {
    color: #fff; 
}

.dark-mode input {
    background-color: #222;
    color: #fff;
}

.dark-mode textarea {
    background-color: #222;
    color: #fff;
}
