body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

navbar-collapse {
    text-align: center;
}

.navbar-collapse a {
    display: block;
    padding: 10px;
    background-color: #f8f9fa;
}

.clothing-container {
    display: none;
    flex-wrap: wrap;
}

.clothing-box {
    flex-basis: calc(33.33% - 30px);
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .clothing-box {
        flex-basis: calc(50% - 30px);
    }
}