<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Weather To Wear</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <% if (!session.Status) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <% } %>
                <% if (session.Banned === 1) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/banned">Banned</a>
                    </li>
                <% } else if (session.Status === 'user') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/closet">Closet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autoFit">Auto Fit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/forSale">Buy Clothing</a>
                    </li>
                <% } else if (session.Status === 'advertiser') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/advertiser">Advertiser</a>
                    </li>
                <% } else if (session.Status === 'admin') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Flagged Comments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bannedUsers">Banned Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manageAds">Manage Ads</a>
                    </li>
                <% } %>
                <% if (session.Status) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } %>
                
                
            </ul>
        </div>
        <button id="dark-mode-toggle">Dark Mode</button>
        <link rel="stylesheet" href="/other/darkmode.css">
        <script src="/other/darkmode.js"></script>
    </div>
</nav>

<nav>

</nav>