<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AutoFit - Weather To Wear</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet">
    </head>
    <body>
        <header>
            <%- include('partials/navbar') %>
        </header>

        <div class="container mt-5">
            <h2>AutoFit</h2>
            <p>Select a user-made closet and click
                "Generate Fit" to find the best fit based on the
                weather.</p>
            <div class="row">
                <div class="col-md-6">
                    <label for="closet-select" class="form-label">Select
                        Closet:</label>
                        <select class="form-select" id="closet-select">
                            <% closets.forEach(closet => { %>
                                <option value="<%= closet.id %>"><%= closet.ClosetName %></option>
                            <% }); %>                            
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <button class="btn btn-primary" onclick="returnAutofit()"
                        id="generate-fit-btn">Generate Fit</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div id="outfit-recommendation"></div>
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="autoFit.js"></script>
        <script>
            function returnAutofit() {
                // Fetch selected closet
                var selectedCloset = document.getElementById("closet-select").value;
                if ("geolocation" in navigator) {
                    navigator.geolocation.getCurrentPosition(
                        function(position) {
                            const latitude = position.coords.latitude;
                            const longitude = position.coords.longitude;
                                fetch(`https://api.weather.gov/points/${latitude},${longitude}`)
                                .then(response => response.json())
                                .then(data => {
                                    const forecastEndpoint = data.properties.forecast;
                                    fetch(forecastEndpoint)
                                        .then(response => response.json())
                                        .then(forecastData => {
                                            const periods = forecastData.properties.periods;
                                            const currentPeriod = periods[0];
                                            console.log("Temperature:", currentPeriod.temperature);
                                            var outfitRecommendation = "The weather in your city is currently " + currentPeriod.temperature + "°F";
                                            // TODO CLOSET RECC
                                            // Display outfit recommendation
                                            document.getElementById("outfit-recommendation").innerHTML = outfitRecommendation;
                                        })
                                        .catch(error => console.error("API ERROR:", error));
                                })
                                .catch(error => console.error("Error fetching geolocation data:", error));
                        },
                        function(error) {
                            console.error("Error getting user's location:", error);
                        }
                    );
                } else {
                    console.error("Geolocation is not supported by this browser.");
                }
            } 
        </script>
    </body>
</html>
